{% extends "layout.html" %}
{% block content %}




<!--<div class="container">
    <h2>{{ subtitle }}</h2>


</div> -->

<div>
          <video width="700" height="500" autoplay muted loop>
          <source src="static/home.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        {%if current_user.is_authenticated %}
    <button class="button" onclick='location.href="/login"'>Your Fridge</button>
    {% else %}
    <button class="button" onclick='location.href="/login"'>Login</button>
    <button class="button" onclick='location.href="/register"'>Register</button>
    {% endif %}
</div>

 <!--   <h2>{{ subtitle }}</h2>
    <h3>{{ subtitle2 }}</h3>
    <p> {{text2}}
    </p>
    <button class="button" onclick='location.href="https://green-double-5000.codio.io/register"'>Register</button>
<button class="button" onclick='location.href="https://green-double-5000.codio.io/login"'>Login</button> -->

{% endblock content %}

