{% extends "layout.html" %}
{% block content %}
<style>
p {
  background-color: #ffffff00;
    color:#842029;
  font-size:20px;
    font-weight:bold;
  display: none;
}
  
span:hover + p {
  display: block;
}
li.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #c1c5aa;
    border: 1px solid rgba(0,0,0,.125);
}
ul.list-group-flush {
    border-radius: 20px;
}
    

</style>
<body>
    

    <div>
      <h2>{{ subtitle }} <span>&#8505;</span><p>Here is your fridge! Add or delete items, when satisfied click "Find Recipes.<br> A maximum of 20 recpies will be returned that have no less than 5 missing from your fridge.</p></h2> 
         
      <br/>
        <form action = "/myFridge" METHOD = "POST">
            <input type = "text" placeholder = "Enter an Ingredient" name = "item">
            <input type = "submit" value = "Add Ingredient" class = "btn btn-secondary">
        </form>
        <br/><br/>
        <ul class="list-group list-group-flush">
        {% for item in ingredients %}
            <li class="list-group-item">
                <h2>
                <span class = "name">{{item.item}}</span>
                </h2>
                <a href="/delete/{{item.id}}" class= "btn btn btn-outline-danger pull-right btn-sm">Delete</a>
            </li>
            
        {% endfor %}
        </ul>
        <br/>
        <form action="/Recipes" METHOD = POST>
                  <input type="checkbox" id="vegan" name="vegan" value="Vegan">
                  <label for="vehicle1">Vegan</label><br>
                  <input type="checkbox" id="vegetarian" name="vegetarian" value="Vegetarian">
                  <label for="vehicle2"> Vegetarian</label><br>
                  <input type="checkbox" id="gluten_free" name="gluten_free" value="Gluten Free">
                  <label for="vehicle3"> Gluten Free</label><br>
                  <input type="checkbox" id="dairy" name="dairy" value="Dairy Free">
                  <label for="vehicle4"> Dairy Free</label><br><br>
            <input type="submit" value="Find Recipes" >
        </form>
            <button class="button" onclick='location.href="/logout"'>Logout</button>
    </div>
</body>
{% endblock content %}