{% extends "layout.html" %}
{% block content %}
<style>
p {
  background-color: white;
  padding: 10px;
  display: none;
}
  
span:hover + p {
  display: block;
}
</style>
<body>
    

    <div>
      <h2>{{ subtitle }} <span>&#8505;</span><p>Here is your fridge! Add or delete items, when satisfied click "Find Recipes". </p></h2> 
         
      <br/>
        <form action = "/myFridge" METHOD = "POST">
            <input type = "text" placeholder = "Enter an Ingredient" name = "item">
            <input type = "submit" value = "Add Ingredient" class = "btn btn-secondary">
        </form>
        <br/><br/>
        <ul class="list-group list-group-flush">
        {% for item in ingredients %}
            <li class="list-group-item">
                <h2>
                <span class = "name">{{item.item}}</span>
                </h2>
                <a href="/delete/{{item.id}}" class= "btn btn btn-outline-danger pull-right btn-sm">Delete</a>
            </li>
            
        {% endfor %}
        </ul>
        <br/>
        <form action="/Recipes" METHOD = POST>
                  <input type="checkbox" id="vegan" name="vegan" value="Vegan">
                  <label for="vehicle1">Vegan</label><br>
                  <input type="checkbox" id="vegetarian" name="vegetarian" value="Vegetarian">
                  <label for="vehicle2"> Vegetarian</label><br>
                  <input type="checkbox" id="gluten_free" name="gluten_free" value="Gluten Free">
                  <label for="vehicle3"> Gluten Free</label><br>
                  <input type="checkbox" id="dairy" name="dairy" value="Dairy Free">
                  <label for="vehicle4"> Dairy Free</label><br><br>
            <input type="submit" value="Find Recipes" >
        </form>
        <small>*a maximum of 10 recpies will be returned, the larger the fridge the more accurate the results are</small>
            <button class="button" onclick='location.href="https://green-double-5000.codio.io/logout"'>Logout</button>
    </div>
</body>
{% endblock content %}