{% extends "layout2.html" %}
{% block content %}
  {% for item, val in text.items() %}
  <div class="card">
     
    <div class="card__body">
        <a href={{ val[3] }} target= "_blank"><img src='{{ val[1] }}' alt="" class="card__image"></a>
      <h2 class="card__title">{{ item }}</h2>
      <p class="card__description">{{ val[0] }}</p>
    </div>
    <form action="/deleterecipe/{{ val[2] }}">
    <button class="card__btn">Delete</button>
    </form>
  </div>
   {% endfor %}


{% endblock content %}
        
        

